.requiredInfo {
    display: flex;
    justify-content: space-around;
    height: 10rem;
}

.submissionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resultsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}